.qf-layout {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  height: 100%;
}

.qf-layout .ant-layout {
  height: 100%;
}

.qf-layout .ant-layout .ant-layout-header .qf-header {
  position: absolute;
  top: 0;
  height: 80px;
  line-height: 80px;
  width: 100%;
  color: #fff;
  display: flex;
}

.qf-layout .ant-layout .ant-layout-header .qf-header > h3 {
  color: #fff;
  position: absolute;
  top: 0;
  left: 150px;
  bottom: 30px;
  font-size: 24px;
  font-weight: bold;
}

.qf-layout .ant-layout .ant-layout-header .qf-header > span {
  overflow: hidden;
  display: inline-block;
  margin-left: 30px;
}

.qf-layout .ant-layout .ant-layout-header .qf-header > span > img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  margin-bottom: 5px;
}

.qf-layout .ant-layout .ant-layout-content {
  min-width: 720px;
  background: #ccc;
  position: relative;
}

.qf-layout .ant-layout .ant-layout-content .qf-main {
  overflow: auto;
  position: absolute;
  top: 20px;
  left: 20px;
  bottom: 20px;
  right: 20px;
  background-color: #fff;
  padding: 15px;
}

.qf-layout .ant-layout-sider .ant-layout-sider-children .qf-aside {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  overflow: auto;
  width: 180px;
}

.qf-layout .ant-layout-sider .ant-layout-sider-children .qf-aside > .ant-menu {
  margin-top: 60px;
}

.qf-layout .ant-layout-sider .ant-layout-sider-children .qf-aside > div {
  text-align: center;
  width: 100%;
  height: 60px;
  line-height: 60px;
  border-top: 1px solid #ccc;
}

.qf-layout .ant-layout-sider .ant-layout-sider-children .qf-aside > div > a {
  display: block;
  height: 60px;
  text-decoration: none;
  color: #fff;
  width: 100%;
}

.qf-layout .ant-layout-sider .ant-layout-sider-children .qf-aside > div > a.on {
  background: #fff;
  color: #000;
  font-weight: bold;
}

.qf-layout .ant-layout-sider .ant-layout-sider-children .qf-aside::-webkit-scrollbar {
  width: 0;
}
