.lifethreen .title {
  color: #000;
  font-size: 20px;
  font-weight: 600;
}

.lifethreen .timer {
  height: 40px;
  width: 200px;
  background: red;
  text-align: center;
  line-height: 40px;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
  font-size: 20px;
}

.lifethreen .box {
  font-size: 20px;
}

.lifethreen .reduce {
  cursor: pointer;
}

.lifethreen .add {
  cursor: pointer;
}
